<div class="content">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="query-input" class="query-label">按日期查找</label>
        <input type="text" class="form-control" id="query-input" placeholder="例2018-06-01">
      </div>
      <button type="submit" class="btn query-btn">查找</button>
    </form>
  </div>

  <app-table
    [heads]="heads"
    [bodys]="bodys"
    [colorConfig]="colorConfig"
    [textConfig]="textConfig"
    (headEvent)="getHeadEvent($event)"
    (bodyEvent)="getBodyEvent($event)"
  ></app-table>
  <hr>
  <div class="operation">
    <button class="btn" type="button">批量删除</button>
  </div>
</div>

