.content{
  font-family: "微软雅黑";
  box-shadow:3px 1px 2px #bdc1c1;
  margin:10px;
  background:#f9f9f9;
  height: calc(100% - 20px);
}
.search-container{
  padding:20px 50px;
  border-width:1px 0 0 0;
  border-color:#ccc;
  border-style:solid;
}
.query-label{
  margin-right:50px;
}
#query-input{
  text-align:center;
  margin-right:50px;
  width:300px;
}
.query-btn{
  background:#119C9D;
  color:#fff;
}
.content .tablebox{
  padding-bottom: 15px;
  height:83%;
}
.content hr{
  padding:0;
  width: 90%;
  background:#e0e0e0;
  height:1px;
  margin:0 auto;
  border:none;
}
.operation{
  padding:20px 50px;
  text-align:center;
}
.operation button:nth-of-type(1){
  margin-right:0;
}
@media screen and (min-width:788px) {
  .operation button:nth-of-type(1){
    margin-right:50px;
  }
}
.useful-btn{
  background:#119C9D;
  color:#fff;
  padding:5px 10px;
}
.useless-btn{
  background:#d0d0d0;
  color:#fff;
  padding:5px 10px;
}
/*子view样式style*/
#add_property,#property_config,.del-confirm{
  display:none;
}
.child-view{
  z-index:99;
  position:absolute;
  left:50%;
  top:50%;
  min-height:auto;
  padding:15px 30px 15px 30px;
  width:auto;
  background:#fff;
  /*margin-left:calc(-30%);*/
  transform: translate(-50%,-50%);
  border-color:#119C9D #e0e0e0 #e0e0e0 #e0e0e0;
  border-width: 5px 1px 1px 1px;
  border-style:solid;
  box-shadow:2px 2px 2px #bdc1c1;
}
.child-view .close-btn{
  width: 20px;
  height:20px;
  float:right;
  background:url(../../../assets/img/icon_sprite@1x.png);
  background-position: -260px -20px;
}
.child-view .child-form{
  padding:30px;
  font-size:12px;
  color	:#4F4F4F;
}
.child-view .child-form .form-item{
  margin-bottom:20px;
}
.child-view .child-form .form-item label{
  font-weight:normal;
  display:inline-block;
  text-align-last:justify;
  /*text-align:justify;*/
  width:120px;
}
/*.add-equip #equip-form .form-item label::after {*/
/*content:'\2724';*/
/*width:100%;*/
/*display: inline-block;*/
/*height:20px;*/
/*}*/
.distpicker>input,
.distpicker>select{
  border:1px solid #e0e0e0;
  border-radius:4px;
  padding:2px;
  outline:none;
}
.child-view .child-form .form-item>input,
.child-view .child-form .form-item>select{
  width:400px;
  border:1px solid #e0e0e0;
  border-radius:4px;
  padding:2px;
  outline:none;
}
.tick{
  margin-bottom:10px;
}
.tick::before{
  content: '';
  margin:0 auto;
  display: block;
  width: 5px;
  height: 15px;
  background-color: #009688;
  transform: translate(-5px,20px) rotate(-45deg);
}
.result-dialog{
  padding: 30px 110px 10px 110px;
}
.tick::after{
  content: '';
  margin:0 auto;
  display: block;
  width: 5px;
  height: 25px;
  background-color:  #009688;
  transform: translate(7px,-4px) rotate(45deg);
}
.exclamatory{
  background:url(../../../assets/img/icon_sprite@1x.png);
  background-position: -260px -40px;
  width:40px;
  height:40px;
  margin:0 auto 20px auto;
}
.border-red{
  border-color:#d81e06 #e0e0e0 #e0e0e0 #e0e0e0;
}
.background-red{
  background:#d81e06;
}
