<div class="content">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="query-input" class="query-label">查找设备</label>
        <input type="text" class="form-control" id="query-input" name="searchNum" placeholder="姓名、证件号、电话号">
      </div>
      <button type="submit" class="btn query-btn">查找</button>
    </form>
  </div>

  <div class="tablebox">
    <app-table
      [checkBox]="true"
      [heads]="heads"
      [bodys]="bodys"
      (selectedListChange)="getSelectedList($event)"
      [colorConfig]="colorConfig"
      [textConfig]="textConfig"
      (dropdownEvent)="getDropdownEvent($event)"
      (operateEvent)="getOperateEvent($event)"
      (selectedListChange)="getSelectedList($event)"
    ></app-table>
  </div>

  <hr>

  <div class="operation">
    <button class="btn useless-btn" type="button">批量删除</button>
    <button class="btn useful-btn" type="button" (click)="addDialogStateShow();">添加设备</button>
  </div>

  <!--添加人员信息start-->
  <div class="child-view" id="add_equip" style="width:800px;"  [@dialogState]="addDialogState">
    <div class="close-btn" (click)="addDialogHidden();"></div>
    <h3>添加人员</h3>
    <form action="" class="child-form" #f="ngForm">
      <div class="form-item">
        <label>姓名:</label><input type="text">
        <label>联系电话:</label><input type="text">
      </div>
      <div class="form-item">
        <label>类型:</label><input type="text">
        <label>人脸特征数据:</label><input type="text">
      </div>
      <div class="form-item">
        <label>所属公司(户主):</label><input type="text">
      </div>
      <div class="form-item">
        <label>房间</label>
        <table border= "1"   width="500">
          <tr>
            <td colspan="2"><label>业主：</label><input type="text"></td>
            <td colspan="2">电话：<input type="text"></td>
          </tr>
          <tr>
            <td colspan="4">小区：<input type="text"></td>
          </tr>
          <tr>
            <td><label>楼栋号：</label><input type="text" style="width:50px;"></td>
            <td>单元号：<input type="text"></td>
            <td>楼层：<input type="text"></td>
            <td>房间：<input type="text"></td>
          </tr>
        </table>
        <div class="form-item">
          <label>入住日期:</label><input type="text">
        </div>
        <div class="form-item">
          <label>失效日期:</label><input type="text">
        </div>
      </div>
      <div class="operation">
        <button class="useful-btn btn" style="margin-top:100px;margin-right:0;">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
      </div>
    </form>
  </div>
  <!--添加人员信息end-->
</div>
