.content{
  font-family: "微软雅黑";
  box-shadow:3px 1px 2px #bdc1c1;
  margin:10px;
  background:#f9f9f9;
  height: calc(100% - 20px);
}
.search-container{
  padding:20px 50px;
  border-width:1px 0 0 0;
  border-color:#ccc;
  border-style:solid;
}
.query-label{
  margin-right:50px;
}
#query-input{
  text-align:center;
  margin-right:50px;
  width:300px;
}
.query-btn{
  background:#119C9D;
  color:#fff;
}
.content .tablebox{
  padding-bottom: 15px;
  height:83%;
}
.content hr{
  padding:0;
  width: 90%;
  background:#e0e0e0;
  height:1px;
  margin:0 auto;
  border:none;
}
.operation{
  padding:20px 50px;
  text-align:center;
}
.operation button:nth-of-type(1){
  margin-right:0;
}
@media screen and (min-width:788px) {
  .operation button:nth-of-type(1){
    margin-right:50px;
  }
}
.useful-btn{
  background:#119C9D;
  color:#fff;
  padding:5px 10px;
}
.useless-btn{
  background:#d0d0d0;
  color:#fff;
  padding:5px 10px;
}
/*子view样式style*/
#add_equip,#equip_config,.del-confirm{
  /*display:none;*/
}
.child-view{
  z-index:99;
  position:absolute;
  left:50%;
  top:50%;
  min-height:auto;
  padding:15px 30px 15px 30px;
  width:auto;
  background:#fff;
  /*margin-left:calc(-30%);*/
  transform: translate(-50%,-50%);
  border-color:#119C9D #e0e0e0 #e0e0e0 #e0e0e0;
  border-width: 5px 1px 1px 1px;
  border-style:solid;
  box-shadow:2px 2px 2px #bdc1c1;
}
.child-view .close-btn{
  width: 23px;
  height:23px;
  float:right;
  background:url(../../../assets/img/icon_sprite@1x.png);
  background-position: -160px 0px;
}
.child-view .child-form{
  padding:30px;
  font-size:12px;
  color	:#4F4F4F;
  position:relative;
}
.child-view .child-form .form-item{
  margin-bottom:20px;
}
.distpicker>input,
.distpicker>select{
  border:1px solid #e0e0e0;
  border-radius:4px;
  padding:2px;
  outline:none;
}
.child-view .child-form .form-item>input,
.child-view .child-form .form-item>select{
  width:200px;
  border:1px solid #e0e0e0;
  border-radius:4px;
  padding:2px;
  outline:none;
}

.tick{
  margin-bottom:10px;
}
.tick::before{
  content: '';
  margin:0 auto;
  display: block;
  width: 5px;
  height: 15px;
  background-color: #009688;
  transform: translate(-5px,20px) rotate(-45deg);
}
.result-dialog{
  padding: 30px 110px 10px 110px;
}
.tick::after{
  content: '';
  margin:0 auto;
  display: block;
  width: 5px;
  height: 25px;
  background-color:  #009688;
  transform: translate(7px,-4px) rotate(45deg);
}
.exclamatory{
  background:url(../../../assets/img/icon_sprite@1x.png);
  background-position: -180px -80px;
  width:40px;
  height:40px;
  margin:0 auto 20px auto;
}
.border-red{
  border-color:#d81e06 #e0e0e0 #e0e0e0 #e0e0e0;
}
.background-red{
  background:#d81e06;
}


table{
  display:inline-block;
  vertical-align: top;
  margin-bottom:20px;
  overflow:hidden;
  border-radius:15px;
  border: 1px solid #e0e0e0;
}
table td{
  padding:10px;
}
table tr:first-child td:first-child{
  border-right:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
}
table tr:first-child td:last-child{
  border-bottom:1px solid #e0e0e0;
}
table tr:last-child td{
  border-top:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
}
table tr:last-child td:last-child{
  border-right:none;
}
table input{
  border:none;
  outline:none;
  /*这个宽度影响了表格的布局*/
  width:calc(100% - 50px);
}
.upload-container {

  background-image: url(../../../assets/img/icon_sprite@1x.png);

  background-repeat: no-repeat;

  background-position:-160px -140px;

  width:23px;

  height: 20px;

  padding-bottom: 10px;

  display: inline-block;

  vertical-align: middle;
}

.fileupload {
  opacity: 0;
  filter: alpha(opacity=0);
  width:23px;
  height:20px;
}
el-date-picker{
  display:inline-block;
}
::ng-deep .el-input__inner{
  border:1px solid #e0e0e0;
}

#img-list{
  width: 80%;
  border-radius:15px;
  background:rgba(222,222,222,0.5);
  padding:20px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  position:absolute;
  z-index:999;
  left:50%;
  transform: translate(-50%);
}
#img-list div{
  cursor:pointer;
  position:relative;
  border-radius:10px;
  width:100px;
  height:100px;
  overflow:hidden;
  margin:20px;
  background-color:rgba(0,0,0,.5);
}
#img-list div ul{
  position:absolute;top:0;left:0;width:100%;height:100%;color:#fff;background:rgba(0,0,0,.5);z-index:98;display:flex;flex-direction:column;justify-content: center;
  opacity:0;
  transition:0.5s 0.5s all ease;
}
#img-list div ul li{
  text-align:center;
  margin:5px auto;
  width:80%;/*保证文字不会被半汉字截断,显示10个文字*/
  overflow:hidden;/*超出长度的文字隐藏*/
  text-overflow:ellipsis;/*文字隐藏以后添加省略号*/
  white-space:nowrap;/*强制不换行*/
}
#img-list div ul li a{
  color:#fff;
}
#img-list div img{
  width:100px;
  transition: 0.5s 0.5s all ease;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%) scale(1,1);
}
#img-list div ul:hover{
  opacity:1;
}
#img-list div ul:hover+img{
  transform:translate(-50%,-50%) scale(2,2);
}


