<div class="content">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="query-input" class="query-label">查找人员</label>
        <input type="text" class="form-control" id="query-input" name="searchNum" placeholder="姓名、证件号、电话号">
      </div>
      <button type="submit" class="btn query-btn">查找</button>
    </form>
  </div>

  <div class="tablebox">
    <app-table
      [checkBox]="true"
      [heads]="heads"
      [bodys]="bodys"
      (selectedListChange)="getSelectedList($event)"
      (dropdownEvent)="getDropdownEvent($event)"
      (operateEvent)="getOperateEvent($event)"
      (selectedListChange)="getSelectedList($event)"
    ></app-table>
  </div>

  <hr>

  <div class="operation">
    <button class="btn useless-btn" type="button">批量删除</button>
    <button class="btn useful-btn" type="button" (click)="addDialogStateShow();">添加人员</button>
  </div>

  <!--添加人员信息start-->
  <div class="child-view" id="add_equip" style="width:800px;"  [@dialogState]="addDialogState">
    <div class="close-btn" (click)="addDialogHidden();"></div>
    <h3>添加人员</h3>
    <form action="" class="child-form" #f="ngForm" id="add-form">
      <div class="form-item">
        <label>姓名：</label><input type="text" name="name">
        <span style="color:red;margin-right:100px;">*</span>
        <label>联系电话：</label><input type="text">
        <span style="color:red;">*</span>
      </div>
      <div class="form-item">
        <label>类型：</label><select name="" id=""></select>
        <span style="color:red;margin-right:100px;">*</span>
        <label>人脸特征数据：</label>
        <div class="upload-container">
          <input type="file" name="upload" id="fileToUpload" class="fileupload" multiple="multiple" accept="image/*" (change)="getUpLoad($event)"/>
        </div>
        <label for="fileToUpload" style="color:#119C9D;">选择照片</label>
        <a href="javascript:;">显示详情</a>
      </div>
      <div id="img-list" *ngIf="photosUrls.length">
        <div  *ngFor="let photo of photosUrls;">
          <ul>
            <li>{{photo.name}}</li>
            <li><a href="javascript:;" (click)="preview(photo.src)">预览<i class="el-icon-view"></i></a></li>
          </ul>
          <img [src]="photo.src" alt="">
          <i class="el-icon-circle-close" style="position:absolute;top:1px;right:1px;color:#000000;z-index:999;" (click)="removePic(photo.src)"></i>
        </div>
      </div>
      <!--预览图start-->
      <img src="" alt="">
      <!--预览图end-->
      <div class="form-item">
        <label>所属公司(户主)：</label><input type="text">
        <span style="color:red;">*</span>
      </div>
      <div class="form-item">
        <label>房间：</label>
        <table width="500">
          <tr>
            <td colspan="2">业主：<input type="text"></td>
            <td colspan="2">电话：<input type="text"></td>
          </tr>
          <tr>
            <td colspan="4">小区：<input type="text"></td>
          </tr>
          <tr>
            <td>楼栋号：<input type="text"></td>
            <td>单元号：<input type="text"></td>
            <td>楼层：<input type="text"></td>
            <td>房间：<input type="text"></td>
          </tr>
        </table>
        <div class="form-item">
          <label>入住日期：</label>
          <el-date-picker
            (modelChange)="handle($event)"
            (clear-click)="0"
            size="mini"
          ></el-date-picker>
        </div>
        <div class="form-item">
          <label>失效日期：</label>
          <el-date-picker
            (modelChange)="handle($event)"
            (clear-click)="0"
            size="mini"
          >
          </el-date-picker>
          <span style="color:red;">*</span>
        </div>
      </div>
      <div class="operation">
        <button class="useful-btn btn" style="margin-top:100px;margin-right:0;" (click)="addPerson();">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
      </div>
    </form>
  </div>
  <!--添加人员信息end-->
</div>
