<div class="operations">
	<div class="tableBox">
		<app-table 
			[checkBox]="true"
			[heads]="heads" 
			[bodys]="bodys"
			[colorConfig]="colorConfig" 
			[textConfig]="textConfig" 
			(dropdownEvent)="getDropdownEvent($event)" 
			(operateEvent)="getOperateEvent($event)"
			(selectedListChange)="getSelectedList($event)"
		></app-table>
	</div>
	<div class="footer">
		<div class="myBtn delMul" (click)="delMul()">批量删除</div>
		<div class="myBtn addNew" (click)="addNew()">添加人员</div>
	</div>
</div>
