div,table,thead,tbody,td{
	box-sizing: border-box;
}
.tableContainer{
	width: 100%;
	height: 100%;
	text-align: center;
}
.tableContainer table{
	width: 100%;
	table-layout: fixed;
}

/*表头*/
.tableContainer>.thead{
	background-color: #f9f9f9;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	height: 60px;
	position: relative;
	z-index: 1;
	cursor: default;
}
.tableContainer>.thead>tbody>tr{
}
.tableContainer>.thead>tbody>tr>th{
	text-align: center;
	position: relative;
}
.tableContainer>.thead>tbody>tr>th>div{
	line-height: 30px;
	border-right: 1px solid #e0e0e0;
}
.tableContainer>.thead>tbody>tr>th:last-child>div{
	border: 0;
}
/*表头中的二级菜单*/
.secMenu{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin-top: 1px;
	box-shadow: 0 0 5px 1px #dcdcdc;
	background-color: #fafafa;
}
.secMenu>.menuTitle{
	border-bottom: 1px solid #e0e0e0;
}
.secMenu>.menuTitle>span{
	display: inline-block;
	line-height: 60px;
}
.secMenu>.dropItem{
	font-weight: normal;
	cursor: pointer;
}
.secMenu>.dropItem:hover{
	background-color: #e0e0e0;
}




/*表格内容*/
.tableContainer .scrollBox{
	width: calc(100% + 18px);
	height: 100%;
	overflow-y: scroll;
}
.tableContainer .scrollBox>.tbody>tbody>tr{
	height: 50px;
}

/*表格内容滚动*/
.tableContainer{
	overflow: hidden;
}
/*进度条*/
/*.tableContainer table .forProgress{
	width: 30px;
}*/
.tableContainer .outerBox{
	width: 100%;
	height: calc(100% - 60px);
	position: relative;
}
.tableContainer .scrollBox>.progressBox{
	width: 30px;
	/*height: 100%;*/
	position: absolute;
	right: 0;
	top: 20px;
	bottom: 20px;
	/*overflow: hidden;*/
}
.tableContainer .scrollBox>.progressBox>.progressBase{
	position: relative;
	background-color: #bdbdbd;
	height: 100%;
	width: 2px;
	margin: 0 auto;
}
/*用来遮住进度条，不用overflow:hidden是因为进度条的球也会被遮住一半*/
.tableContainer .scrollBox>.progressBox>.progressBase:after{
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	background-color: red;
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	background-color: #fff;
}
.tableContainer .scrollBox>.progressBox>.progressBase>.progressBar{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #009688;
}
.tableContainer .scrollBox>.progressBox>.progressBase>.progressBar>.progressPoint{
	background-color: #009688;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: -5px;
	cursor: pointer;
}
.tableContainer .scrollBox .progressBox>.progressBase>.progressBar>.progressPoint:hover{
	background-color: #00C7B5;
}

/*表格中能够操作的元素，如删除、查看*/
.canOper>span{
	cursor: pointer;
}
.canOper>span:hover{
	color: blue;
}
/*选中状态*/
.secMenu .dropSelected{
	background-color: #eeeeee;
}