<div class="tableContainer">
	<!-- 显示表头 -->
	<table class="thead">
		<tbody>
			<tr>
				<!-- checkbox -->
				<th *ngIf="checkBox" class="forCheck"><input type="checkbox" #checkbox_all title="全选" [checked]="selectedList.length&&selectedList.length==bodys.length" (click)="selectAll(checkbox_all.checked)"></th>
				<!-- 主体 -->
				<th class="headers" [class.lastHeader]="i==heads.length-1" *ngFor="let head of heads;index as i" [style.width]="head.width?head.width:''" (click)="dropList=head.field;$event.stopPropagation();">
					<!-- 传的数据中含有'child'，则代表有二级菜单 -->
					<ng-template #noChild><div>{{head.label}}</div></ng-template>
					<div *ngIf="head.child;else noChild">
						<!-- 隐藏input,用来存选中的下拉 -->
						<input #forSelect type="text" style="display: none;" [value]="head.child[0]">
						<span>{{head.label}}({{forSelect.value}})</span>
						<span style="font-size: 12px;font-weight: 700" class="glyphicon glyphicon-triangle-bottom"></span>
						<!-- dropList判断显示谁的二级菜单 -->
						<div class="secMenu" *ngIf="dropList==head.field" (click)="dropList='';$event.stopPropagation();">
							<div class="menuTitle">
								<span>{{head.label}}({{forSelect.value}})</span>
								<span style="font-size: 12px;font-weight: 700" class="glyphicon glyphicon-triangle-top"></span>
							</div>
							<div class="dropItem" [class.dropSelected]="forSelect.value==child" *ngFor="let child of head.child" (click)="forSelect.value=child;headOper(head.field,child)">{{child}}</div>
						</div>
					</div>
				</th>
				<!-- 滚动条占位 -->
				<th class="forScroll" *ngIf="showScroll"></th>
			</tr>
		</tbody>
	</table>
	<!-- 显示内容 -->
	<div class="outerBox">
		<div class="viewBox" #viewBox [scrollTop]="boxScrollY" (scroll)="viewBoxScroll()">
			<table class="tbody" #tbody>
				<tbody>
					<tr *ngFor="let body of bodys">
						<!-- checkbox -->
						<td *ngIf="checkBox" class="forCheck"><input type="checkbox" #checkbox_one [checked]="selectedList.indexOf(body)>-1" (click)="selectOne(body,checkbox_one.checked)"></td>
						<!-- 根据表头的key来显示相对应的数据 -->
						<td *ngFor="let head of heads" [style.width]="head.width?head.width:''">
							<!-- 判断是否是可以操作的内容 -->  
							<span *ngIf="head.operate;else notOper" class="canOper">
								<!-- [style.color]根据colorconfig来设置颜色 -->
								<span *ngFor="let opers of head.operations;let i=index">
									<span class="opers" (click)="bodyOper(head.field,opers,body)" [style.color]="head.colorConfig&&head.colorConfig.hasOwnProperty(opers)?head.colorConfig[opers]:''">{{opers}}</span>
									<span class="sep" *ngIf="i<head.operations.length-1"></span>
								</span>
							</span>


							<!-- 不可操作的普通内容 -->
							<!-- ↓↓↓↓  普通内容可以替换文字  ↓↓↓↓↓  -->
							<ng-template #notOper><span [style.color]="head.colorConfig&&head.colorConfig.hasOwnProperty([body[head.field]])?head.colorConfig[body[head.field]]:''">
																			{{head.textConfig&&head.textConfig.hasOwnProperty([body[head.field]])?head.textConfig[body[head.field]]:body[head.field]}}</span></ng-template>
						</td>
						<!-- 滚动条占位 -->
						<td class="forScroll" *ngIf="showScroll"></td>
					</tr>
				</tbody>
			</table>
																<!-- 生命周期和检测机制，二次检测，会报错，c -->
				<!--  滚动条	 -->
			<div class="scrollBox" hahaha *ngIf="showScroll">
				<div class="scrollBase" #bar>
					<div class="scrollBar">
						<div class="scrollPoint" (mousedown)="$event.preventDefault();canDrag=true;setMaxScroll()"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>