<div class="content">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="query-input" class="query-label">查找设备</label>
        <input type="text" class="form-control" id="query-input" name="searchNum" placeholder="请输入设备编号或物业信息" [(ngModel)]="searchNum">
      </div>
      <button type="submit" class="btn query-btn"(click)="searchEquip()">查找</button>
    </form>
  </div>

  <div class="tablebox">
    <app-table
      [checkBox]="true"
      [heads]="heads"
      [bodys]="bodys"
      (selectedListChange)="getSelectedList($event)"
      (dropdownEvent)="getDropdownEvent($event)"
      (operateEvent)="getOperateEvent($event)"
      (selectedListChange)="getSelectedList($event)"
    ></app-table>
  </div>

  <hr>

  <div class="operation">
    <button class="btn useless-btn" type="button" (click)="delMore();">批量删除</button>
    <button class="btn useful-btn" type="button" (click)="addView();">添加设备</button>
  </div>

  <!--添加设备start-->
  <div class="child-view" id="add_equip" style="width:900px;">
    <div class="close-btn" (click)=" closeAddView(f);"></div>
    <h3>添加设备</h3>
    <form action="" class="child-form" #f="ngForm">
      <div class="form-item">
        <label for="equipName">广告机名称</label>：
        <input type="text" id="equipName" name="equipName" [(ngModel)]="addEquip.machineName" #machineName="ngModel" required>
      </div>
      <div class="form-item">
        <label for="equipNum">设备号</label>：
        <input type="text" id="equipNum" name="equipNum" [(ngModel)]="addEquip.mac" #mac="ngModel" required>
      </div>
      <div class="form-item">
        <label for="netWork">网卡值</label>：
        <input type="text" id="netWork" name="netWork" [(ngModel)]="addEquip.netWork" #netWork="ngModel" required>
      </div>
      <div class="form-item">
        <label for="models">广告机型号</label>：
        <input type="text" id="models" name="models" [(ngModel)]="addEquip.models" #models="ngModel" required>
      </div>
      <div class="form-item" style="z-index:1 !important;">
        <label>设备位置</label>：
        <selectVillage *ngIf="addIf"
          (handle)="selectPosition($event);"
          [allVillage]="allvillage"
          [showLevel]="5"
          [init]="initVillAdd"
        ></selectVillage>
      </div>
      <div class="form-item">
        <label>分配运维</label>：
        <select [(ngModel)]="addEquip.accendantName" name="opePerson">
          <option *ngFor="let m of maintainer;" [value]="m">{{m}}</option>
        </select>
        <el-select [(model)]="addEquip.accendantName" placeholder="请选择" (modelChange)="0" size="mini">
          <el-option *ngFor="let item of [{label:'zdc',value:'zdc'},{label:'lmy',value:'lmy'}]"
                     [label]="item.label"
                     [value]="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="operation2">
        <button class="useful-btn btn" style="margin-top:100px;" (click)="(machineName.valid&&mac.valid&&netWork.valid&&models.valid)?add(f):0;">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
      </div>
    </form>
  </div>
  <!--添加设备end-->

  <!--修改设备信息start-->
  <div class="child-view" id="equip_config" style="width:900px;">
    <div class="close-btn" (click)="closeModifyView();"></div>
    <h3>设备信息</h3>
    <form action="" class="child-form">
      <div class="form-item">
        <label for="modifyName">广告机名字</label>：
        <input type="text" id="modifyName" name="modifyName" [(ngModel)]="modifyEquip.machineName">
      </div>
      <div class="form-item">
        <label>设备号</label>：
        <span>{{modifyEquip.mac}}</span>
      </div>
      <div class="form-item">
        <label>网卡值</label>：
        <span>{{modifyEquip.netWork}}</span>
      </div>
      <div class="form-item">
        <label>广告机型号</label>：
        <span>{{modifyEquip.models}}</span>
      </div>
      <div class="form-item">
        <label>运行状况</label>：
        <span>{{(modifyEquip.status==0)?'正常':'存在故障'}}</span>
      </div>
      <div class="form-item">
        <label>设备位置</label>：
        <selectVillage *ngIf="modifyIf"
                       (handle)="modifyPosition($event);"
                       [allVillage]="allvillage"
                       [showLevel]="5"
                       [init]="initVillModify"
        ></selectVillage>
      </div>
      <div class="form-item">
        <label>物业信息</label>：
        <span>{{property}}</span>
      </div>
      <div class="form-item">
        <label for="equipNum">运维人员</label>：
        <select name="accendantName" [(ngModel)]="modifyEquip['accendantName']">
          <option *ngFor="let m of maintainer" [value]="m">{{m}}</option>
        </select>
        <el-select [(model)]="addEquip.accendantName" placeholder="请选择" (modelChange)="0" size="mini">
          <el-option *ngFor="let item of maintainer"
                     [label]="item.label"
                     [value]="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="form-item">
        <label>备份情况</label>：
        <span>已备份</span>
      </div>
      <div class="operation2">
        <button class="useful-btn btn" style="margin-top:100px;" (click)="modify();">保存修改</button>
      </div>
    </form>
  </div>
  <!--修改设备信息end-->

  <!--确认删除弹框start-->
  <div class="child-view del-confirm">
    <p style="text-align: center;padding:30px 0;">确认删除选中设备？</p>
    <div class="operation2">
      <button class="btn useful-btn" type="button" (click)="del();">&nbsp;&nbsp;确认&nbsp;&nbsp;</button>
      <button class="btn useless-btn" type="button" (click)="cancel();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
    </div>
  </div>
  <!--确认删除弹框end-->

  <!--结果弹框start-->
  <div class="child-view" *ngIf="operationResult" [class.border-red]="!success" style="width:410px;">
    <div class="result-dialog" style="text-align:center;">
      <!--显示对钩-->
      <div class="tick" *ngIf="success"></div>
      <!--显示感叹号-->
      <div class="exclamatory" *ngIf="!success"></div>
      <p style="text-align:center;padding-bottom:20px;letter-spacing: 3px;">{{dialogContent}}</p>
      <button class="btn useful-btn" type="button" (click)="operationResult=false;dialog=false;"[class.background-red]="!success">&nbsp;完成&nbsp;</button>
    </div>
  </div>
  <!--结果弹框end-->


</div>

