.content{
  box-shadow:3px 1px 2px #bdc1c1;
  margin:10px;
  background:#f9f9f9;
}
.search-container{
  padding:20px 50px;
  border-width:1px 0 0 0;
  border-color:#ccc;
  border-style:solid;
}
.query-label{
  margin-right:50px;
}
#query-input{
  text-align:center;
  margin-right:50px;
}
.query-btn{
  background:#119C9D;
  color:#fff;
}
.content hr{
  padding:0;
  width: 90%;
  background:#e0e0e0;
  height:1px;
  margin:0 auto;
  border:none;
}
.operation{
  padding:20px 50px;
  text-align:center;
}
.operation button:nth-of-type(1){
  margin-right:0;
  background:#d0d0d0;
  color:#fff;
}
@media screen and (min-width:788px) {
  .operation button:nth-of-type(1){
    margin-right:50px;
  }
}
.operation button:nth-of-type(2){
  background:#119C9D;
  color:#fff;
}
