<div class="content">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="query-input" class="query-label">查找设备</label>
        <input type="text" class="form-control" id="query-input" placeholder="请输入设备编号">
      </div>
      <button type="submit" class="btn query-btn">查找</button>
    </form>
  </div>
  <div class="operation">
    <button class="btn" type="submit">批量处理</button>
    <button class="btn" type="submit">添加设备</button>
  </div>
</div>

