<header id="header">人脸识别广告机后台管理系统</header>
<nav id="nav">
  <ul>
    <li routerLink="/admin/equip" routerLinkActive="activePage">设备管理</li>
    <li routerLink="/admin/area" routerLinkActive="activePage">区域管理</li>
    <li routerLink="/admin/adver" routerLinkActive="activePage">广告管理</li>
    <li routerLink="/admin/ops" routerLinkActive="activePage">运维管理</li>
    <li routerLink="/admin/copy" routerLinkActive="activePage">备份管理</li>
  </ul>
</nav>
<section id="section">
  {{appLength}}
  <router-outlet></router-outlet>
</section>