/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: "微软雅黑"
}
body{
    font-size: 14px
}
/* 隐藏高德logo */
.amap-logo {
    display: none;
} 
.amap-copyright {
  bottom:-100px;
   display: none;
} 
.amap-icon img{
    width:40px
}