<div class="row" id="areaModule">
    <div class="areaLeft">
      <div id="gaodemap-container" class="gaodemap-container" tabindex="0"></div>
    </div>
    <div class="areaRight">
      <ul class="areaSearch">
        <li class="areaSearchInput">
          <div (click)="searchOnePlot()"></div> 
          <div><input type="text" placeholder="查找区域、设备编号" [(ngModel)]="activeInput" (keyup)="searchDim()"></div>
          <ol>
            <li *ngFor="let plot of searchPlots" (click)="plotCheck(plot.name)">{{plot.name}}</li>
          </ol>                
        </li>
        <li class="areaSearchTitle">当前区域</li>
        <li class="areaSearchPresent">地区&nbsp;:&nbsp;{{currentArea}}</li>
        <li class="areaSearchPresent">街道&nbsp;:&nbsp;{{currentStreet}}</li>
        <li class="areaSearchPresent">小区&nbsp;:&nbsp;{{currentPlot}}</li>
        <li class="areaSearchPresent">物业信息&nbsp;:&nbsp;{{currentProperty}}</li>
        <li class="areaSearchTitle">设备信息</li>
        <li class="areaSearchEquip equipAll">设备总数&nbsp;:&nbsp;{{currentEquipAll}}台</li>
        <li class="areaSearchEquip equipNormal">正常运行&nbsp;:&nbsp;{{currentEquipNormal}}台</li>
        <li class="areaSearchEquip equipAnomaly">异常设备&nbsp;:&nbsp;{{currentEquipAnomaly}}台</li>
      </ul>
    </div>
    <div class="areaBottom">
      <div class="tablebox">
        <app-table
          [checkBox]="false"
          [heads]="heads"
          [bodys]="bodys"
          (dropdownEvent)="getDropdownEvent($event)"
          (operateEvent)="getOperateEvent($event)"
        ></app-table>
      </div>
    </div>
    <div class="equip-look" *ngIf="equipIf">
      <div class="equip-info">
        <h3>查看设备信息</h3>
        <ul>
          <li>设备号&nbsp;:&nbsp;{{equipNumber}}</li>
          <li>设备位置&nbsp;:&nbsp;{{equipArea}}</li>
          <li>所处小区&nbsp;:&nbsp;{{equipVillage}}</li>
          <li>所属物业&nbsp;:&nbsp;{{equipProperty}}</li>
          <li>运维人员&nbsp;:&nbsp;{{equipMaintainer}}</li>
          <li>播放广告&nbsp;:&nbsp;{{equipAdver}}</li>
        </ul>
        <p (click)="closeEquip()">关闭</p>
      </div>
    </div>
</div>