<div class="row" id="areaModule">
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 areaLeft">
      <div id="gaodemap-container" class="gaodemap-container" tabindex="0"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 areaRight">
      <ul class="areaSearch">
        <li class="areaSearchInput">
          <div (click)="searchVillage()"></div> 
          <input type="text" placeholder="查找区域、设备编号" [(ngModel)]="activeInput" (change)="dimVillage()">
          <ol>
            <li *ngFor="let hero of heroes"></li>
          </ol>                
        </li>
        <li class="areaSearchTitle">当前区域</li>
        <li class="areaSearchPresent">地区 : {{this.area}}</li>
        <li class="areaSearchPresent">街道 : {{this.street}}</li>
        <li class="areaSearchPresent">小区 : {{this.plot}}</li>
        <li class="areaSearchPresent">物业信息 : {{this.property}}</li>
        <li class="areaSearchTitle">设备信息</li>
        <li class="areaSearchEquip equipAll">设备总数 : {{this.equipAll}}台</li>
        <li class="areaSearchEquip equipNormal">正常运行 : {{this.equipNormal}}台</li>
        <li class="areaSearchEquip equipAnomaly">异常设备 : {{this.equipAnomaly}}台</li>
      </ul>
    </div>
    <div class="col-lg-12 areaBottom">
      <div class="areaList">
        <ul class="areaListTop">
          <li class="col-lg-2">设备编号</li>
          <li class="col-lg-3">设备位置</li>
          <li class="col-lg-2">设备运行状态（全部）</li>
          <li class="col-lg-2">备份情况（全部）</li>
          <li class="col-lg-1">维护人员</li>
          <li class="col-lg-2">操作</li>
        </ul>
        <div class="areaListContent">
          <table>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="areaListBottom">
          <div class="areaBatch">批量处理</div>
        </div>
      </div>
    </div>
</div>
