<div class="register">
    <div class="register-form" [style.top]="" [style.left]="">
        <div class="form-title">用户注册</div>
        <div class="form-warn">请输入真实信息否则将无法通过审核。请注意带"<span class="form-star">*</span>"为必填</div>
        <div class="login-div">
            <label></label>
            <input type="text" name="username" 
            [(ngModel)]="username" required />
        </div>
        <div class="login-div">
            <label></label>
            <input type="password" name="password" 
            [(ngModel)]="password" required />
        </div>
        <div class="login-div">
            <label></label>
            <input type="password" name="repassword" 
            [(ngModel)]="repassword" required />
        </div>
        <div class="login-msg">{{errorMessage}}</div>
        <div class="form-group form-submit">
          <button type="submit">注&nbsp;&nbsp;&nbsp;&nbsp;册</button><br/>
          <a routerLink="/login">返回登录</a>
        </div>
    </div>
    <div class="register-bottom">
        技术支持:中钞信达成都研发中心<br/>
        Copyright &copy; 2016-2020 cbpm-xinda,All Rights Reserved
    </div>
</div>