<div class="register">
    <div class="register-form">
        <div class="form-remove">
            <span routerLink="/login">×</span>
        </div>
        <div class="form-title">用户注册</div>
        <div class="form-warn">请输入真实信息否则将无法通过审核。请注意带"<span class="form-star">★</span>"为必填</div>
        <div class="form-login">
            <div class="register-div">
                <p>姓名<span class="form-star">★</span></p>
                <div class="form-input">
                    <input type="text" name="username" 
                    [(ngModel)]="username" required (keyup)="blur('user')"/>
                    <p [class]="userImg"></p>
                </div>     
            </div>
            <div class="register-div">
                <p>手机号<span class="form-star">★</span><span class="phone-eorr" *ngIf="phoneBoolean">该手机号已经注册</span></p>
                <div class="form-input">
                    <input type="text" name="phone" 
                    [(ngModel)]="phone" required (keyup)="blur('phone')"/>
                    <p [class]="phoneImg"></p>
                </div>    
            </div>
            <div class="register-div">
                <p>证件号<span class="form-star">★</span></p>
                <div class="form-input">
                    <input type="text" name="papers" 
                    [(ngModel)]="papers" required (keyup)="blur('papers')"/>
                    <p [class]="papersImg"></p>
                </div>    
            </div>
            <div class="register-div">
                <p>邮箱</p>
                <div class="form-input">
                    <input type="email" name="email" 
                    [(ngModel)]="email" required (keyup)="blur('email')"/>
                    <p [class]="emailImg"></p>
                </div>    
            </div>
            <div class="register-div">
                <p>密码<span class="form-star">★</span></p>
                <div class="form-input">
                    <input type="password" name="password" 
                    [(ngModel)]="password" required (keyup)="blur('psd')"/>
                    <p [class]="psdImg"></p>
                </div>    
            </div>
            <div class="register-div">
                <p>确认密码<span class="form-star">★</span></p>
                <div class="form-input">
                    <input type="password" name="repassword" 
                    [(ngModel)]="repassword" required (keyup)="blur('repsd')"/>
                    <p [class]="repsdImg"></p>
                </div>    
            </div>
            <div class="register-sure" (click)="register()">注册</div>
        </div>     
    </div>
</div>
<div class="register-pop" *ngIf="sucessBoolean">
    <ul>
        <li style="background:url('../../assets/img/icon_sprite@1x.png') -200px 10px"></li>
        <li>注册成功</li>
        <li routerLink="/login">返回登陆</li>
    </ul>
</div>
<div class="register-pop" *ngIf="failBoolean">
    <ul>
        <li style="font-size: 40px;text-align: center;line-height: 40px;color:red">×</li>
        <li>{{failMsg}}</li>
        <li (click)="registerEorr()">关闭窗口</li>
    </ul>
</div>